# You're machines private lan IP & CIDR
CGW_LAN_IP=
CGW_LAN_CIDR=

# IPSEC configuration values taken from AWS console (VPC -> Site-to-Site VPN connections -> 'Download configuration')
T1_AWS_OUTSIDE_IP=
T2_AWS_OUTSIDE_IP=
T1_PSK=
T2_PSK=

VPC1_CIDR=
VPC2_CIDR=

R53_RSLV_INBOUND_ENDPOINT_IP1=
R53_RSLV_INBOUND_ENDPOINT_IP2=